{% extends "layout.html" %}
{% block content %}
    <div class="col-md-4">
        <div class="content-section">
            <form method = 'GET' action ="" class = 'mm'>
                
                <h3>patient info</h3>
                <p class='text-muted'>
                    <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><label class = 'input-box-n'>  Name  : </label><input type="text" name='name'placeholder="name"></li>
                    <li class="list-group-item list-group-item-light"><label class = 'input-box-i'>   Id   : </label><input type="intger" name="id"placeholder="id"></li>
                    <li class="list-group-item list-group-item-light"><label class = 'input-box-d'>Disease : </label><input type="text"name='diseas'placeholder="diseas"></li>
                    <li class="list-group-item list-group-item-light"><label class = 'input-box-a'>   Age  : </label><input type="intger"name='age'placeholder="age"></li>
                    </ul>
                </p>
                <button type="submit">save</button>
            </form>
            
          
        </div>
      </div>
{% endblock content %}